# == Class: baselines::
#
# Full description of class trollme here.
#
# === Parameters
#
# [*sample_parameter*]
#
#
# === Variables
#
# [*sample_variable*]
#
#
# === Examples
#
#  class { 'baselines::': }
#
# === Authors
#
# Andre Ramoni
#

class baselines:: {


}
