# == Class: rbaselines::
#
# Full description of class.
#
# === Parameters
#
# [*sample_parameter*]
#
#
# === Variables
#
# [*sample_variable*]
#
#
# === Examples
#
#  class { 'rbaselines::': }
#
# === Authors
#
# Andre Ramoni
#

class rbaselines:: {


}
